.container {
    margin:auto;
    width: 980px;   
    min-height:100%;
    border: 1px solid black;
}

.display-box {
    margin : auto;
    border: 1px solid black;
    height:250px;
    width:250px;
    margin-left:40px;
    margin-top:200px;
    text-overflow:clip;
}

.label {
    margin-left: 40px;
}



